{%extends 'auctions/layout.html'%}
{%load static%}
{%block body%}
<div style="padding-left: 15px;">
{%if user == bid_query.bid_user%}
<div class="alert alert-success" role="alert">
    Congratulations! You have won this auction.
</div>
{%else%}
<div class="alert alert-danger" role="alert">
    This auction has been closed by the owner.
</div>
{%endif%}

<div class="card mb-3" style="max-width: 1400px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{list_query.imgurl}}" class="img-fluid rounded-start"  alt="No image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: #5cb85c;">{{list_query.listing_name}}</h5>
          <p class="card-text"> Category : {{list_query.listing_category}}</p>
          <p class="card-text"> <strong> Final Bid : ${{bid_query.bid_amount}}</strong></p>
          <p class="card-text">Description : {{list_query.listing_desc}}</p>
          <p class="card-text"><small class="text-muted">Listed by : {{list_query.owner}}</small></p>
          <p class="card-text"><small class="text-muted">Created on : {{list_query.created_at}}</small></p>
        </div>
      </div>
    </div>


</div>
</div>
{%endblock%}